@media (max-width: 767px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }

    .header {
        padding-top: 32px;

        &__input {
            display: none;
        }
    }

    .menu {
        display: none;

        &-mob {
            display: flex;
            align-items: center;
            gap: 32px;
        }
    }

    .logo {
        &__img {
            width: 99px;
        }
    }

    .title {
        font-size: 48px;
        line-height: 59px;
        text-align: center;
    }

    .title-page {
        font-size: 48px;
        line-height: 59px;
        text-align: center;
    }

    .top {
        &__content {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__text {
            font-size: 16px;
            text-align: center;
        }
    }

    .top-content {
        padding-top: 32px;
        row-gap: 16px;
    }

    .cart {
        grid-template-columns: repeat(4, 1fr);
        row-gap: 48px;

        &__content {
            grid-column: span 4;
        }

        &__item {
            padding: 18px 0 32px;

            &:nth-child(2) {
                padding: 18px 0 24px;
            }
        }

        &__img {
            display: none;
        }

        &__info {
            width: auto;
        }

        &__name {
            font-size: 18px;
            line-height: 22px;          
        }

        &__text {
            font-size: 12px;
            line-height: 15px;
        }

        &_price {
            font-size: 12px;
            line-height: 15px;
        }

        &__button-box {
            margin: 0;
            justify-content: center;
        }

        &__button {
            width: 166px;
            font-size: 12px;
            line-height: 15px;
        }

        &__form {
            padding-bottom: 16px;
        }
    }

    .link {
        font-size: 14px;
    }

    .for {
        padding-top: 32px;

        &__content {
            grid-template-columns: repeat(4, 1fr);
            gap: 16px;
        }

        &__item {
            grid-column: span 4;
            height: 375px;
            font-size: 28px;
            line-height: 34px;

            &_big {
                height: 244px;
            }
        }

    }

    .product-box {
        padding-top: 32px;
    }

    .heading-h2 {
        font-size: 24px;
        line-height: 29px;
    }

    .product-content {
        row-gap: 32px;
    }

    .product {
        width: 100%;

        &__title {
            font-size: 18px;
            line-height: 22px;
        }

        &__price {
            font-size: 18px;
            line-height: 22px;

            &_sale {
                font-size: 18px;
                line-height: 22px;
            }
        }
    }

    .link-box {
        margin-top: 37px;
    }

    .footer {
        padding-bottom: 32px;
        margin-top: 32px;

        &__content {
            justify-content: center;
            row-gap: 34px;
        }

        &__info {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            width: 100%;
            gap: inherit;
        }

        &__form {
            width: 100%;
            align-items: center;
        }

        &__input {
            width: 268px;
        }

        &__button {
            width: 268px;
        }
    }
}

@media (max-width: 360px) {
    .title {
        font-size: 36px;
        line-height: 49px;
    }

    .top-text {
        line-height: 22px;
    }
}

@media (max-width: 320px) {
    .sort {
        width: 100%;

        & .select-box select {
            width: 100%;
            font-size: 15px;
        }
    }
}

@media (max-width: 299px) {
    .footer {

        &__input {
            width: 100%;
        }

        &__button {
            width: 100%;
        }
    }
}